@model ppedv.Shopchestra.Model.Kunde

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrZeile2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrZeile2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PLZ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PLZ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Land)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Land)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gebdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gebdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
